# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
.Rprofile

# CSS as we want these compiled
main.css
govuk.css

# RS connect files
rsconnect/
*.dcf
