$govuk-global-styles: true;
$govuk-page-width: 1600px;
$govuk-assets-path: "/";

@import "base";

@import "core/all";
@import "objects/all";

@import "components/all";

@import "utilities/all";
@import "overrides/all";
