$govuk-global-styles: false;
$govuk-page-width: 1600px;
$govuk-assets-path: "./";
$govuk-font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;

@import "base";

@import "core/all";
@import "objects/all";

@import "components/all";

@import "utilities/all";
@import "overrides/all";
