/* Dashboard
*/

.dashboard-container {
    display: flex;
    flex-direction: column;

    @include govuk-media-query($from: tablet) {
        flex-direction: row;
    }
}

.dashboard-menu {
    @include govuk-media-query($until: tablet) {
        margin: 0 -15px 10px;
        padding-bottom: 15px;
        border-bottom: 1px solid $govuk-border-colour;
    }

    @include govuk-media-query($from: tablet) {
        flex: 0 0 auto;
        width: 180px;
    }

    @include govuk-media-query($from: desktop) {
        width: 200px;
    }
}

.dashboard-content {
    display: flex;
    min-width: 0;
    flex: 1 1 100%;
    flex-direction: column;
}

.dashboard-panel {
    background: #f8f8f8;
    border: 1px solid govuk-colour("light-grey");
}
