/* Filter bar on dashboard
*/

.govuk-select {
    min-width: 100px;
    @include govuk-media-query($from: desktop) {
        max-width: 250px;
    }
}

.form-select-container {
    @include govuk-media-query($from: desktop) {
        margin-right: 20px;
    }
}
