/* Tooltip
*/

.hasGovTooltip {
  position: relative;
  cursor: help;
  border-bottom: 1px dashed $govuk-text-colour;
  &:hover {
    .govTooltip {
      visibility: visible;
    }
  }
}

/* Tooltip text */
.govTooltip {
  visibility: hidden;
  width: 150px;
  background-color: $govuk-text-colour;
  color: #fff;
  text-align: left;
  padding: 8px 10px;
  top: 100%;
  margin-left: 0;
  left: 0;
  font-size: 14px;
  position: absolute;
  z-index: 1;

  @include govuk-media-query($from: tablet) {
    left: 50%;
    margin-left: -75px;
    font-size: 16px;
  }
}

