@import 'govuk/all';
@import 'partials/variables';
@import 'partials/side-navigation';
@import 'partials/dashboard';
@import 'partials/filter';
@import 'partials/markdown';
@import 'partials/utility';
@import 'partials/tooltip';
@import 'partials/tabs';
@import 'partials/buttons';

html {
    // Overriding bootstrap default of 10px
    font-size: 16px;
}

a {
    // Overriding bootstrap default
    cursor: pointer;
    text-decoration: underline;
}

body {
    background-color: $colour !important;
}
