@import 'govuk/all';
@import 'partials/variables';
@import 'partials/side-navigation';
@import 'partials/dashboard';

html {
    // Overriding bootstrap default of 10px
    font-size: 16px;
}

a {
    // Overriding bootstrap default
    text-decoration: underline;
}

body {
    background-color: $colour !important;
}
