@import 'govuk/all';
@import 'partials/variables';
@import 'partials/side-navigation';
@import 'partials/dashboard';
@import 'partials/filter';
@import 'partials/markdown';
@import 'partials/utility';
@import 'partials/tabs';
@import 'partials/buttons';
@import 'partials/data-table';
@import 'partials/aria-tooltip';
@import 'partials/cookie-banner';
@import 'partials/loader';
@import 'partials/non-js';

html {
    // Overriding bootstrap default of 10px
    font-size: 16px;
}

a {
    // Overriding bootstrap default
    cursor: pointer;
    text-decoration: underline;
}
